<h1>Title 【<%= @post.title %>】</h1>
<%= link_to "Edit", edit_user_post_path(@user,@post) %>
<%= link_to "Delete", user_post_path(@user,@post), method: :delete, confirm: "Are you sure?" %>

<%= simple_format @post.body %>

<h2>Comment Add</h2>
<%= form_for(@comments.build) do |f| %>
  <p>
  <%= f.label :commenter %>
  <%= f.text_field :commenter %>
  </p>

  <p>
  <%= f.label :context, "comment" %>
  <%= f.text_area :body, cols: 60, rows:8 %>
  </p>

  <p>
  <%= f.submit "comment" %>
  </p>
<% end %>

  <%= link_to "User Page", @user %>
  </p>
