<h1>Title 【<%= @post.title %>】</h1>

<%= simple_format @post.body %>
<p>
<%= link_to "Edit", edit_user_post_path(@user,@post) %>
<%= link_to "Delete", user_post_path(@user,@post), method: :delete, confirm: "Are you sure?" %>
</p>

<p>
<%= link_to "User Page", @user %>
</p>
