<h1>User Page</h1>
<p><b>User Name : <%= @user.name %></b></p>
<p><b>User Email : <%= @user.email %></b></p>
  <%= link_to "Edit",edit_user_path(@user) %>
<h1><%= link_to "Create Post", new_user_post_path(@user) %></h1>
<ol>
  <% @posts.each do |post| %>
    <li><%=link_to post.title, user_post_path(@user,post) %>
    <%=link_to "Edit", edit_user_post_path(@user,post) %>
    <%=link_to "Delete", user_post_path(@user,post), method: :delete, confirm: "Are you sure?" %>
    </li>
  <% end %>
</ol>
