<h1>New Product Insert</h1>
<%= form_for @product do |f| %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>

  <p>
  <%= f.label :price %>
  <%= f.text_field :price %>
  </p>

  <p>
  <%= f.label :detail %>
  <%= f.text_area :detail %>
  </p>

  <p>
  <%= f.label :image %>
  <%= f.text_field :image %>
  </p>

  <%= f.submit "Insert Product" %>
<% end %>
